<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" type="text/scss" href="/error/404.scss">

    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">

    <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
<body>



<div class="content">
    <canvas id="snow" class="snow"></canvas>
    <div class="main-text">
        <h1>Aw jeez.<br>That page has gone missing.</h1>
        <a class="home-link" href="/">Hitch a ride back home.</a>
    </div>
    <div class="ground">
        <div class="mound">
            <div class="mound_text">404</div>
            <div class="mound_spade"></div>
        </div>
    </div>
</div>

<script src="/error/404.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/in-view/0.6.1/in-view.min.js"></script>-->

</body>
</body>
</html>