<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" type="text/scss" href="/error/404.scss">
</head>
<body>
<body>



<div class="content">
    <canvas id="snow" class="snow"></canvas>
    <div class="main-text">
        <h1>Aw jeez.<br>That page has gone missing.</h1>
        <a class="home-link" href="/">Hitch a ride back home.</a>
    </div>
    <div class="ground">
        <div class="mound">
            <div class="mound_text">404</div>
            <div class="mound_spade"></div>
        </div>
    </div>
</div>

<script src="/error/404.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/in-view/0.6.1/in-view.min.js"></script>-->

</body>
</body>
</html>