<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blacknet Inc</title>


    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

    <!-- Icon for devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <!-- Android specific icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">

    <!-- Web App Manifest for Progressive Web Apps (PWA) -->
    <link rel="manifest" href="/favicon/site.webmanifest">

</head>
<body>
Daryoning ovozi karga begona<br>
Dunyoning pardozi ko'rga begona<br>
Zar uchun oringdan kechma birodar<br>
Bu dunyoda bor topganing go'rga begona<br>
<br>
<br>
<br>
Ha cho'tki :)<br>
</body>
</html>