<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blacknet Inc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new-year/styles.css">
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

    <!-- Icon for devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <!-- Android specific icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">

    <!-- Web App Manifest for Progressive Web Apps (PWA) -->
    <link rel="manifest" href="/favicon/site.webmanifest">

</head>
<body>
<div class="tree-container">
    <div class="star"></div>
    <div class="tree">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <div class="ornament red"></div>
    <div class="ornament blue"></div>
    <div class="ornament yellow"></div>
    <div class="trunk"></div>
</div>
</body>
</html>